/*
My colors:-
First color: #FFF
second color: #f48020
third color: #3d0e1e
*/
* {
  font-family: Aller_Rg;
}
/*Start Header*/

header {
  background-color: #e4e4e4;
  position: relative;
  z-index: 1;
}
header .carousel-inner .carousel-item img {
  width: auto;
  height: 650px;
  object-fit: cover;
}
header .carousel .carousel-indicators li button {
  border-radius: 100%;
  width: 7px;
  height: 7px;
  background-color: #3d0e1e;
}

.layer {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
}
/*Start navbar*/

header .navbar {
  padding-top: 30px;
  position: fixed;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.85);
  z-index: 50;
}
header .navbar .logo {
  width: 90px;
  height: 50px;
}
header .navbar .logo img {
  width: auto;
  height: 100%;
}
header .navbar .navbar-nav {
  margin-inline-start: auto;
  z-index: 4;
}
header .navbar .nav-item {
  margin-left: 20px;
}
header .navbar .nav-item .nav-link {
  color: #3d0e1e;
  font-size: 20px;
  text-transform: capitalize;
  font-family: Aller_Rg;
  font-weight: 600;
}
header .navbar .nav-item .nav-link:hover {
  color: #f48020;
}
/*End Navbar*/

.layer .row {
  padding-top: 200px;
}
.layer .text {
  margin-left: 140px;
}
.layer .text p {
  color: #3d0e1e;
  font-size: 35px;
  font-weight: 600;
  font-family: Aller_Rg;
}
.layer .text p span {
  color: #f48020;
}
.layer .text button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  background-color: #3d0e1e;
  border: none;
  border-radius: 15px;
}

.layer .text button:hover {
  background-color: #f48020;
}

.layer .text button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: Aller_Rg;
}
.layer .sidebar {
  padding-top: 50px;
}
.layer .sidebar li {
  padding: 10px;
}
.layer .sidebar a i {
  font-size: 20px;
  color: #3d0e1e;
}
.layer .sidebar a i:hover {
  color: #f48020;
}
/*End Header*/

/*Start Services*/
.services {
  background-color: #3d0e1e;
  padding-top: 90px;
  padding-bottom: 90px;
}
.services .header-section {
  margin-bottom: 70px;
  color: #f48020;
  font-family: Aller_Rg;
  font-weight: bold;
}
.services .header-section .title {
  font-weight: bold;
  font-size: 40px;
}

/*Start Flip Card */

.flip-card {
  background-color: transparent;
  width: 80%;
  height: 500px;
  border: 3px solid #fff;
  border-radius: 15px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front .title {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(244, 128, 32, 0.02);
}
.first-service {
  background-image: url("../img/services-3.png");
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.second-service {
  background-image: url("../img/services-1.png");
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.third-service {
  background-image: url("../img/services-4.png");
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fourth-service {
  background-image: url("../img/services-2.png");
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*.flip-card-front .vector{
    width: 70%;
    height: 60%;
    object-fit: cover;
    margin:auto
}
.flip-card-front .vector img{
    width: 100%;
    height: 100%;
}*/
.flip-card-front .title {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1.8em;
  color: #fff;
  padding-bottom: 20px;
}

/* Style the back side */
.flip-card-back {
  background-color: #3d0e1e;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back .part-1 img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-top: 20px;
}

.flip-card-back .part-2 .description {
  margin-top: 22px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2em;
  padding: 20px;
}
.flip-card-back .part-2 .description span {
  color: #f48020;
  font-weight: bold;
}
.flip-card-back .part-2 button {
  width: 100px;
  height: 35px;
  background-color: #f48020;
  border: none;
  border-radius: 15px;
}
.flip-card-back .part-2 button a {
  text-decoration: none;
  color: #3d0e1e;
  font-weight: 800;
  font-size: 17px;
  font-family: Aller_Rg;
}
/*End Flip Card */

/*End Services*/

/*Start About Us*/

.special-word {
  color: #f48020;
  font-weight: bold;
}
.about-us {
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-us .header-section {
  margin-bottom: 35px;
  color: #f48020;
  font-family: Aller_Rg;
  font-weight: bold;
}
.about-us .header-section .title {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}
.about-us .progr {
  margin-bottom: 22px;
  color: #3d0e1e;
  font-size: 27px;
  line-height: 1.2em;
  width: 80%;
  font-weight: 500;
}
.about-us .progr button {
  margin-top: 30px;
  width: 170px;
  height: 50px;
  background-color: #3d0e1e;
  border: none;
  border-radius: 15px;
}
.about-us .progr button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Aller_Rg;
}
.about-us .film {
  width: 300px;
  height: 300px;
  margin: auto;
}
.about-us .film img {
  width: 100%;
  height: 100%;
}
/*Start About Us*/

/*Start Footer*/

/*End Footer*/

footer {
  background-color: #3d0e1e;
}
footer .line {
  height: 3px;
  width: 100%;
  background-color: #f48020;
  margin-bottom: 60px;
}
footer .logo {
  width: 90px;
  height: 50px;
  margin-left: 15px;
}
footer .logo img {
  width: auto;
  height: 100%;
}
.contact-list li {
  padding: 5px;
  padding-left: 20px;
}
.contact-list a i {
  font-size: 20px;
  color: #f48020;
}
.contact-list a i:hover {
  color: #fff;
}
footer .info {
  margin-top: 50px;
  /*margin-bottom: 70px;*/
}
footer .info i {
  font-size: 20px;
  color: #f48020;
}
/*footer .info p {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
}*/
footer .info span {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
}
footer .copyright p {
  color: #f48020;
  font-size: 13px;
  margin-bottom: 30px;
}
footer .copyright p a {
  font-weight: bold;
  color: #f48020;
  text-decoration: none;
}
footer .copyright p a:hover {
  color: #fff;
}

/*My Fonts*/

@font-face {
  font-family: Aller;
  src: url("../Font/Aller.ttf");
}

@font-face {
  font-family: Aller_Rg;
  src: url("../Font/Aller_Rg.ttf");
}
